.bg-info {
  background-color: #ccd5ae !important; /* Light green for secondary backgrounds */
}

/* Add CSS styles for the card container with vertical scrolling */
.card-container {
  max-height: 350px; /* Adjust the maximum height as needed */
  overflow-y: auto;
}

/* Style the individual cards as needed */
.card {
  width: 100%; /* Adjust the width as per your design, leaving a little space for margins */
  margin: 1%; /* Add margin between cards */
}

.material-icons {
  cursor: pointer;
}
